.cardModalOverlay {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 340px;
  max-width: 340px;
  max-height: 279px;
  display: flex;
  z-index: 4;
}

.cardModalContent {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.cardContainer {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.closeIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  z-index: 2;
}

.boxInfo {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.2) 0%, #ffe400 100%);
  padding: 37px 16px 12px 25px;
  max-width: 316px;
}

.playerPick {
  background: linear-gradient(
    180deg,
    rgba(200, 31, 35, 0.05) 0%,
    rgba(200, 31, 35, 0.34) 30.69%,
    #c81f23 100%
  );
}

.brandInfo {
  background: linear-gradient(180deg, rgba(90, 35, 137, 0.3) 0%, #a2138e 100%);
  padding: 41px 26px 17px;
}

.playerInfo {
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.3) 0%, #ffe400 100%);
  padding: 45px 33px 13px;
}

.mainContainerGoal {
  top: 0 !important;
}

.goal {
  border-radius: 10px;
  height: 240px;
  overflow: hidden;
  padding: 18px 25px 17px 21px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 230, 0, 0.30) 0%, #FFE600 100%);
}

.chatModal {
  border-radius: 10px;
  height: 321px;
  overflow: hidden;
  padding: 23px 19px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 230, 0, 0.30) 0%, #FFE600 100%);
}

.product {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, #fff 100%);
}

.joseModal {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.3) 0%, #ffe400 100%);
  padding: 45px 33px 13px;
}

.minuteToMinute {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.3) 0%, #ffe400 100%);
  padding: 43px 28px 28px 20px;
  height: 240px;
  overflow-y: auto;
}

.minuteToMinute::-webkit-scrollbar {
  display: none;
}

.award {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.3) 0%, #ffe400 100%);
  padding: 32px 20px 16px;
  height: 240px;
  overflow: hidden;
}

.trivia {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.3) 0%, #ffe400 100%);
  padding: 32px 20px 16px;
  height: 240px;
  overflow: hidden;
}


.referee {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 228, 0, 0.3) 0%, #ffe400 100%);
  padding: 32px 20px 16px;
  height: 240px;
  overflow: hidden;
}

.gallery {
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 230, 0, 0.3) 0%, #ffe600 100%);
  padding: 30px 11px 11px;
  height: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
