.onboardingContainer {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  background: #FFE600;
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
}

.title {
  color: #333;
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0 20px;
}

.video {
  max-width: 220px;
  margin: 14px 0 12px;
  border-radius: 20px;
}

.title strong {
  font-weight: 900;
}

.nextBtn {
  padding: 8px 42px;
  border-radius: 200px;
  background: #333;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 27px;
}

.swiper :global(.swiper-pagination-bullet) {
  background: transparent;
  border: solid 1px #333333;
  width: 15px;
  height: 15px;
  opacity: 1;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background: #333;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 80%;
  max-width: 300px;
}

.nextBtn:hover {
  background-color: #ffffff;
  color: #383838;
}

.skipBtn {
  position: absolute;
  right: 35px;
  top: 90px;
  display: flex;
  align-items: center;
  display: flex;
  width: 77px;
  height: 25px;
  background-color: #F4F4F4;
  border-radius: 20px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.skipBtn span {
  color: #5E5E5E;
  text-align: right;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 390px) {
  .video {
    max-width: 190px;
  }
}
