.mainTabs {
  display: flex;
  padding-bottom: 10px;
  border-radius: 0 10px 10px 10px;
  background: #0a0a60;
  padding: 18px 8px 12px;
  position: relative;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.tab {
  border-radius: 7px;
  background: #32347a;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 5px 12px 4px;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  transition: all 0.3s ease;
  margin: 0 8px;
}

.tabActive {
  background: #ffbc00;
  color: #2c2c2c;
}

.contentChat {
  margin-bottom: 45px;
  padding: 17px 12px 10px;
  max-height: 359px;
  overflow: hidden;
  overflow-y: scroll;
}

.tabContent {
  position: relative;
}

.tabContent .imageMessage {
  width: 100%;
}

.multipleImages {
  height: 180px;
  overflow: hidden;
  overflow-y: scroll;
}

.imageMessage {
  position: relative;
  width: 100%;
  height: auto;
}

.finalChat {
  position: relative;
  width: 100%;
  height: auto;
}

.brandIco {
  position: absolute;
  top: -16px;
  left: -8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  border: solid 2px #ffbc00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandIco img {
  height: auto;
  width: 87%;
  margin: 0 auto;
}
