

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.question {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.optionButton {
    padding: 10px 15px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    background: #2B2B2B;
    border-radius: 50px;
    border: none;
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.25);

}


.resultContainer {
    border-radius: 12px;
    background: #FFF;
    padding: 12px;
    animation: fadeIn 0.5s ease;
    text-align: center;
}

.resultContainer p {
    color: #000;
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
}

.resultContainer .winText {
    font-size: 14px;
}

.imgAward {
    max-width: 230px;
    width: 100%;
    margin: 8px auto 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
